body:not(.show_design_notes) .design_note_marker,
body:not(.show_design_notes) .design_note_dropdown,
body:not(.show_design_notes) .design_note_dropdown.open,
body:not(.show_design_notes) #divi_design_notes_menu{
    display:none;
}
body.show_design_notes.hide-resolved .design_note_marker.resolved,
body.show_design_notes.hide-resolved .design_note_dropdown.resolved{
    display:none;
}
body.show_design_notes.hide-active .design_note_marker:not(#shadowmarker,.resolved),
body.show_design_notes.hide-active .design_note_dropdown:not(#shadowdropdown,.resolved){
    display:none;
}
body .design_note_marker{
    z-index:100000;
    top:-40px;
    left:-20px;
    width: 40px;
    height: 40px;
    position:fixed;
    pointer-events:all;
    color: #29c4a9;
    font-size:20px;
    background-color: transparent;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body .design_note_marker.resolved{
    color: #ffd8a4;
}
body .design_note_marker.active{
    pointer-events:none;
    position:fixed;
    color:rgb(19, 197, 19);
}

.design_note_dropdown{
    position: fixed;
    top:100%;
    left: 50%;
    transform: translateX(-50%) translateX(15px);
    width: 350px;
    max-width: 95vw;
    min-height: 100px;
    max-height: 450px;
    display: none;
    opacity: 0;
    transition: opacity .3s;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.3);
    overflow-y: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.design_note_dropdown.resolved [data-action=post],
.design_note_dropdown.resolved [data-action=resolve],
.design_note_dropdown.resolved .design_note_dropdown_note_form {
    display:none !important;
}
.design_note_textarea{
    display: inline-block;
    width: 100%;
    min-height: 3em;
    background-color: #f1f1f1;
    padding:10px;
    height: 30px;
}

#design_notes_user_list{
    position:absolute;
    top:100%;
    left:0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background:#fff;
}
#design_notes_user_list li{
    padding:10px;
    margin: 0;
}
#design_notes_user_list li:hover{
    background-color: #f1f1f1;
}


body .design_note_dropdown.open{
    position:fixed;
    opacity: 1;
    display:flex;
    flex-direction: column;
    z-index: 100;
    overflow:visible;
    z-index: 100000;
}
.design_note_dropdown [data-action] {
    cursor: pointer;
}
.design_note_dropdown_header{
    display:flex;
    align-items: center;
    background-color: #5e24ac;
    color:#fff;
    border-radius: 5px 5px 0 0;
    height: 50px;
    padding: 10px;
}
.design_note_dropdown_header span{
    padding: 5px 8px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s;
}
.design_note_dropdown_header span.author{
    flex-grow: 1;
    font-size: 19px;
}
.design_note_dropdown_header span[data-action=delete],
.design_note_dropdown_header span[data-action=resolve] {
    width:35px;
    height:50px;
    background-size:60%;
    background-repeat:no-repeat;
    background-position:center;
}
.design_note_dropdown_header span[data-action=delete]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z'/%3E%3C/svg%3E");
}
.design_note_dropdown_header span[data-action=resolve]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z'/%3E%3C/svg%3E");
}

.design_note_dropdown_header span.button:hover{
    background-color: rgba(0,0,0,0.3);
}
.design_note_dropdown_body::-webkit-scrollbar {
    width: 8px;
}
.design_note_dropdown_body::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}
.design_note_dropdown_body{
    flex-grow:1;
    overflow-y: scroll;
    color: #000;
    font-size: 15px;
    padding: 20px 20px 0 20px;
    background: #fff;

}
/* .design_note_dropdown_note{
} */
.design_note_dropdown_note_header{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.design_note_dropdown_note_header span.author{
    flex-grow:1;
    font-size:16px;
    font-weight: bold;
}
.design_note_dropdown_note_header span.time{
    font-size:13px;
    color:#a2b0c1;
}
.design_note_dropdown_note_body{
    font-size:15px;
    padding-bottom: 20px;
}
.design_note_dropdown_note_body span{
    color:#589adf;
}
.design_note_dropdown_note_form{
    position:relative;
    padding: 20px 20px 0 20px;
}
.design_note_textarea{
    resize: vertical;
    border:none;
    border-radius: 4px;
}
.design_note_dropdown_footer{
    display:flex;
    padding: 15px 20px 20px;
    justify-content: flex-end;
}
.design_note_dropdown_footer button{
    color: #fff;
    text-transform: uppercase;
    border:none;
    padding: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
    width:50%;
}
.design_note_dropdown_footer button.cancel{
    background: #ef5555;
}
.design_note_dropdown_footer button.post{
    background: #29c4a9;
    margin-right: 20px;
}
.design_note_dropdown.ajaxing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(255, 255, 255,.7);
    z-index: 1;
}
.design_note_dropdown.ajaxing::after{
    content: '';
    top: 50%;
    left: 50%;
    position: absolute;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.66);
    -webkit-mask: conic-gradient(#0000, #000);
    mask: conic-gradient(#0000, #000);
    box-sizing: border-box;
    animation: design_notes_loading 1s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 2;
}
@keyframes design_notes_loading {
    to {
        transform: translate(-50%, -50%) rotate(1turn)
    }
}


/* design notes menu */
#divi_design_notes_menu{
    width: 230px;
    position: fixed;
    transition: max-height .3s ease;
    max-height: 600px;
    top: -19.5px;
    left: -166.5px;
    transform: translate3d(266px,119px,0);
    background: #fff;
    border-radius: 7px;
    overflow: hidden;
    z-index: 100000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
    user-select: none;
}
.design_notes_menu_header{
    display: flex;
    align-items: center;
    background-color: #5e24ac;
    color: #fff;
    border-radius: 5px 5px 0 0;
    justify-content: flex-end;
    height: 40px;
    padding: 10px;
}
.design_notes_menu_header span.title {
    color:#fff;
    flex-grow: 1;
    font-size: 17px;
}
.design_notes_menu_header span.button {
    width: 35px;
    height: 40px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .3s ease;
}
.design_notes_menu_header span[data-action=move] {
    cursor: move;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z'%3E%3C/path%3E%3C/svg%3E");
}
.design_notes_menu_header span[data-action=toggle] {
    cursor:pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' fill='%23fff' viewBox='0 0 16 16'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'%3E%3C/path%3E%3C/svg%3E%3C/svg%3E");
}
.design_notes_menu_body {
    transition: transform .3s ease;
    transform-origin: top center;
    padding: 15px;
}

#divi_design_notes_menu.open{
    max-height: 40px;
}
#divi_design_notes_menu.open span[data-action=toggle] {
    transform: rotateX(180deg);
}
.design_notes_menu_body p {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
}
#divi_design_notes_menu span[data-action=new] {
    height: 30px;
    width: 30px;
    /* cursor: cell; */
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30px' height='30px' fill='%2329c4a9' viewBox='0 0 16 16'%3E%3Cpath d='M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z'%3E%3C/path%3E%3C/svg%3E") 15 30, pointer;
    background-color: f1f5f9;
    border-radius: 3px;
    color:#2b87da;
}
/* inputs */
#divi_design_notes_menu input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

#divi_design_notes_menu label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: #f1f5f9;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

#divi_design_notes_menu label::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: #bec9d6;
    border-radius: 18px;
    transition: 0.3s;
}


#divi_design_notes_menu input:checked+label::after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
    background: #2b87da;
}

#divi_design_notes_menu label:active::after {
    width: 26px;
}
